/*
Primer estilo*/

#encabezado {
    position: absolute;
    top: 0;
    left: 0;
    height: 8%;
    width: 100%;
    background-color: #496D8D;
    color: white;
}
#encabezado h1 {
    display: inline;
}
.descripcion {
    font-size: 18px;
}
#menu {
    position: absolute;
    top: 8%;
    left: 0;
    height: 4%;
    width: 100%;
    background-color: #9B8030;
    color: black;
}
#menu a:visited {
    color: #D6BB56;
}
#menu a:hover {
    background: green;
    color: white;
}
#barraLateral {
    position: absolute;
    top: 12%;
    left: 0;
    height: 81%;
    width: 20%;
    background-color: #D6BB56;
    color: black;
}
#contenido {
    position: absolute;
    top: 12%;
    left: 20%;
    height: 81%;
    width: 80%;
    background-color: #D67656;
    color: black;
    overflow: auto;
}
#piePagina {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 7%;
    width: 100%;
    background-color: #EDB56B;
    color: black;
    text-align: center;
}
#encabezadoTabla {
    font-size: 20px;
    background-color: yellow;
    color: black;
}
#tablaResumen tr {
    font-size: 20px;
}
#tablaResumen tr:nth-child(odd) {
    background-color: black;
    color: white;
}
#tablaResumen tr:nth-child(even) {
    background-color: white;
    color: black;
}